.title {
  color: #f2f6f9;
  font-size: 3em;
  margin-bottom: 25px; }

a {
  color: rgba(242, 246, 249, 0.25);
  text-decoration: none;
  transition: all 300ms;
  -ms-transition: all 300ms;
  -webkit-transition: all 300ms; }

a:hover {
  color: #f2f6f9;
  text-decoration: none;
  transition: all 300ms;
  -ms-transition: all 300ms;
  -webkit-transition: all 300ms; }

html, body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }
  html section, body section {
    height: 100vh;
    width: 100vw;
    position: relative; }
  html div, body div {
    position: relative; }

body {
  background: #1d1d1d; }

nav.navbar.navbar-inverse {
  background-color: #1d1d1d;
  border: none;
  font-size: 1.5em; }
  nav.navbar.navbar-inverse .navbar-nav {
    float: none;
    display: inline-block;
    margin-bottom: -8px; }
    nav.navbar.navbar-inverse .navbar-nav a#blue {
      color: #5083bf; }
    nav.navbar.navbar-inverse .navbar-nav a#blue:hover {
      color: #f2f6f9; }
    nav.navbar.navbar-inverse .navbar-nav li > a {
      padding: 25px;
      color: rgba(242, 246, 249, 0.25);
      cursor: pointer; }
    nav.navbar.navbar-inverse .navbar-nav li > a:hover {
      color: #f2f6f9; }

#main {
  text-align: center;
  padding-top: 35vh; }
  #main .logo {
    height: 10em; }
  #main .subtitle {
    margin-top: 10px;
    color: #f2f6f9;
    font-size: 1.75em; }
  #main a.down {
    position: absolute;
    bottom: 10vh;
    cursor: pointer; }
  #main .glyphicon {
    font-size: 1.75em; }

#who {
  padding: 40vh 0; }
  #who .content {
    padding: 0 15vw;
    color: #f2f6f9;
    font-size: 1.25em; }

#what {
  padding-top: 22vh; }
  #what .line {
    width: 100vw;
    padding: 10px 0; }
    #what .line a {
      padding: 10px; }
      #what .line a img.square {
        height: 175px; }

#committees {
  padding-top: 20vh; }
  #committees .left {
    width: 40vw;
    color: #f2f6f9;
    text-align: right;
    font-size: 1.5em;
    display: inline-block;
    float: left; }
    #committees .left ul {
      list-style-type: none;
      cursor: pointer;
      line-height: 1.75em; }
      #committees .left ul li:hover {
        color: #5083bf; }
  #committees .right {
    width: 45vw;
    color: #f2f6f9;
    text-align: left;
    display: inline-block; }
    #committees .right .name {
      font-size: 2em;
      margin-bottom: 30px; }
    #committees .right .description {
      font-size: 1.25em;
      margin-bottom: 3em; }
    #committees .right .directors {
      font-size: 1.25em; }
      #committees .right .directors .person {
        display: inline; }
        #committees .right .directors .person img.square {
          height: 150px;
          margin: 10px 10px 0 0; }
        #committees .right .directors .person .overlay {
          height: 32px;
          width: 150px;
          position: absolute;
          top: 94px;
          padding: 5px 5px;
          background: #f2f6f9;
          color: #204ea0;
          text-align: center;
          font-weight: 500;
          line-height: 1.2em;
          opacity: 0.9;
          z-index: 10;
          display: none; }

#team {
  padding-top: 18vh; }
  #team .line {
    width: 100vw;
    padding: 5px 0; }
    #team .line .person {
      display: inline; }
      #team .line .person img.square {
        height: 150px;
        margin: 0 5px; }
      #team .line .person .overlay {
        height: 48px;
        width: 150px;
        position: absolute;
        top: 38px;
        left: 5px;
        padding: 8px 5px;
        background: #f2f6f9;
        color: #204ea0;
        text-align: right;
        font-weight: 500;
        line-height: 1.2em;
        opacity: 0.9;
        z-index: 10;
        display: none; }

footer .copyright {
  font-size: 12px;
  height: 70px;
  color: rgba(242, 246, 249, 0.25); }
  footer .copyright img {
    width: 30px;
    padding: 5px;
    opacity: .25;
    transition: all 300ms;
    -ms-transition: all 300ms;
    -webkit-transition: all 300ms; }
  footer .copyright img:hover {
    opacity: 1;
    transition: all 300ms;
    -ms-transition: all 300ms;
    -webkit-transition: all 300ms; }

/*# sourceMappingURL=style.css.map */
